body
{
color:white;
background-color:red;
}
h1
{
	font-family: Elephant;
}
h2
{
	font-family: Arial;
}
h3
{
	font-family: Bodoni MT;
}
h4
{
	font-family: Book Antiqua;
}
h5
{
	font-family: Century;
}
h6
{
	font-family: Ebrima;
}
h7
{
	font-family: Courier New;
}